{% extends 'medicalmaster.html' %}
{% block content %}
{% load static %}

<style>
    .text{
        color: black;
        font-size: medium;
        line-height: 50px;
        font-weight: 500;
    }
</style>


<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-6">
            <p class="text">Medico Pharmacare is founded by a group of senior doctors and entrepreneurs, who have had most of their career abroad, along with a group of aspiring youngsters. The experience of doctors combined with the enthusiasm of youngsters and dedication of employees fuel the commitment towards social responsibility. We deliver Generic medicines that are manufactured by the best pharmaceuticals. We determine the highest efficacy, quality and safety of the medicines before they are offered in our stores. Online medicine delivery facility is available.</p>

        </div>
        <div class="col-md-6">
            <img src="https://www.budgetpharmacare.com/campaign/assets/img/about/about.png" alt="">

        </div>

    </div>
</div>



{% endblock %}